{% extends "base.html" %}
{% block title %}Створити вікторину{% endblock %}
{% block content %}
<form action="/create-quiz" method="POST">
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Назва вікторини</span>
        <input type="text" name="quiz_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Опис вікторини</span>
        <input type="text" name="quiz_description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <button type="submit" class="btn btn-outline-succes">Створити</button>
</form>
{% endblock %}